/*Importing Different Fonts*/
@font-face {
    font-family: 'Porter Sans Block';
    src: url('../Fonts/PorterSansBlock.woff') format('woff');

}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-regular {
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: normal;
  }
/*Styling the webpage*/

body {
    margin: 0;
    padding: 0;
    background-color: #E8F4E7;
}

/*Styling the Header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #1C221B;
}


.logo {
    font-family: 'Porter Sans Block', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -4%;
    color: #1C221B;
}

.navigation {
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
}

.navigation a {
    color: #1C221B;
    text-decoration: none;
    margin-right: 20px;
}

/*Styling the main section*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    font-family: 'Calistoga', 'serif';
    font-size: 120px;
    line-height: 1.2;
    text-align: center;
}

.welcome-picture {
    width: 95vw;
    border: 1px solid #00000000;
    margin-bottom: 200px;
    border-radius: 8px;
}

/*Styling My Portfolio*/
.portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

.images>img {
    border-radius: 8px;
    width: 500px;
}

figcaption {
    font-size: 20px;
    font-family: "Courier Prime";
    font-weight: 400;
}

figure .illustrations{
    font-size:17px;
}

/*Styling About Myself*/
.about-myself {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.about-myself h2 {
    font-size: 50px;
    width: 900px;
    text-align: center;
    font-family: "Calistoga";

}

.about-my-work p {
    font-size: 30px;
    margin-left: 50vw;
    font-family: "Courier Prime";
    letter-spacing: 2px;
    margin-right: 44px;
}

.summary-view{
    margin-top: 150px;
    margin-bottom: 190px;
}
.contact-me{
    margin-left: 440px;
    font-size: 30px;
    font-family: "Calistoga";
}
.summary-container{
    margin: 0 440px;
    display: flex;
    justify-content: space-between;
}
.summary-container p{
    font-family: "Courier Prime";
    font-size:20px;
}