@media only screen and (max-width:768px) {
    .portfolio-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .summary-container {
        margin: 0;
    }

    .contact-me {
        margin: 0;
    }
    figure{
        margin: 0;
    }
    .logo{
        font-size: 25px;

    }
    .images img{
        width: 90vw;
    }
    .welcome-text{
       font-size: 60px;
    }
    .navigation a{
        display: block;
        text-align: center;
        
    }

}