@media (max-width: 768px) {

    .portfolio-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .summary-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact-me {
        margin: 0;
    }

    figure {
        margin: 0;
        margin-bottom: 41px;
    }

    .logo {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .images img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .welcome-text {
        font-size: 8vw;
    }

    .navigation a {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .about-myself h2 {
        margin: 0 15px;

        font-size: 30px;
    }

    .about-my-work p {
        margin-left: 11px;
        margin-right: 11px;
        font-size: 18px;
    }

    .summary-view {
        margin-left: 16px;
        margin-top: 100px;
    }

    .footer {
        margin-top: 0;
    }

    .contact-me-button a input {
        padding: 3px;
        font-size: 11px;
        padding-right: -12px;
        margin-right: 9px;
        margin-bottom: 6px;
    }

    .copyright {
        padding-left: 8px;
        padding-bottom: 3px;
        font-size: 17px;
    }
}